@page "/FormsValidation"


<h1>Different Forms</h1>

<h2>Simple Form Validation</h2>
<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<InputText id="name" @bind-Value="@exampleModel.Name" />

	<button type="submit">Submit</button>
</EditForm>

<h2>Bigger Form Validation</h2>

<h3>Starfleet Starship Database</h3>

<h4>New Ship Entry Form</h4>

<EditForm Model="@starship" OnValidSubmit="@HandleValidStarshipSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<p>
		<label for="identifier">Identifier: </label>
		<InputText id="identifier" @bind-Value="starship.Identifier" />
	</p>
	<p>
		<label for="description">Description (optional): </label>
		<InputTextArea id="description" @bind-Value="starship.Description" />
	</p>
	<p>
		<label for="classification">Primary Classification: </label>
		<InputSelect id="classification" @bind-Value="starship.Classification">
			<option value="">Select classification ...</option>
			<option value="Exploration">Exploration</option>
			<option value="Diplomacy">Diplomacy</option>
			<option value="Defense">Defense</option>
		</InputSelect>
	</p>
	<p>
		<label for="accommodation">Maximum Accommodation: </label>
		<InputNumber id="accommodation"
					 @bind-Value="starship.MaximumAccommodation" />
	</p>
	<p>
		<label for="valid">Engineering Approval: </label>
		<InputCheckbox id="valid" @bind-Value="starship.IsValidatedDesign" />
	</p>
	<p>
		<label for="productionDate">Production Date: </label>
		<InputDate id="productionDate" @bind-Value="starship.ProductionDate" />
	</p>

	<button type="submit">Submit</button>

	<p>
		<a href="http://www.startrek.com/">Star Trek</a>,
		&copy;1966-2019 CBS Studios, Inc. and
		<a href="https://www.paramount.com">Paramount Pictures</a>
	</p>
</EditForm>



@code {
	private ExampleModel exampleModel = new ExampleModel();
	private Starship starship = new Starship();

	private void HandleValidSubmit()
	{
		Console.WriteLine("OnValidSubmit");
	}

	private void HandleValidStarshipSubmit()
	{
		Console.WriteLine("OnValidSubmit");
	}
}